.card__addit {
    position: absolute;
    background: white;
    border-radius: 3px;
    padding: 10px 10px 5px;
    border: 1px solid rgba(9,30,66,.13);
    width: 300px;
    max-width: 320px;
    min-width: 240px;
    right: 0;
}

.card__addit-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(9,30,66,.13);
}

.card__addit-title + div:hover {
    cursor: pointer;
}

.card__addit-times {
    cursor: pointer
}

.card__addit-times path {
    fill:#42526e
}

.card__addit-times path:hover {
    fill: rgb(23, 43, 87)
}

.card__addit-content {
    display: flex;
    flex-direction: column;
}

.card__addit-content span {
    font-size: 0.8rem;
    color: rgb(94, 108, 132);
    margin-bottom: 5px;
}

.card__addit-input {
    border: 2px solid #dfe1e6;
    border-radius: 3px;
    padding: 8px 12px;
    margin-bottom: 10px;
}
.card__addit-input:hover, .input__block-input:hover {
    background: rgb(235, 236, 240);
}
.card__addit-input:focus, .input__block-input:focus {
    border: 2px solid rgb(0, 121, 191);
}
.card__addit-input:focus:hover, .input__block-input:focus:hover {
    background: white;
}

.card__addit-btn {
    width: 70px;
    line-height: 2;
    padding: 2px 5px;
    border: none;
    border-radius: 3px;
    color: white;
    background: rgb(87, 172, 70);
    cursor: pointer;
    margin-bottom: 5px;
}

.card__addit-btn:hover {
    background: rgb(97, 189, 79)
}

/* DUE DATE */

.date-section {
    margin-bottom: 10px;
}

.date-title {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.date-create {
    position: absolute;
    left: 345px;
    z-index: 1;
}

.date-btn-block {
    margin-top: 5px;
}

.date-content {
    display: flex;
    align-items: center;
}

.date {
    margin-left: 10px;
}

.date {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #091e420a;
    padding: 4px 6px;
    color: #172b4d;
    font-size: 0.8rem;
}

.date:hover {
    background-color: #e2e4e9;
}

.date span {
    display: inline-block;
    margin-left: 8px;
    background-color: #5aac44;
    color: white;
    border-radius: 3px;
    padding: 0px 5px;
}

/* DUE DATE CREATE */

.card__input-block {
    display: flex;
    justify-content: space-between;
}

.input__block {
    display: flex;
    flex-direction: column;
}

.input__block-input {
    width: 100px;
    border: 2px solid #dfe1e6;
    border-radius: 3px;
    padding: 6px 10px;
    margin-bottom: 5px;
}

.card__btn-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.btn__block-btn {
    width: 70px;
    padding: 6px 0;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 3px;
}

.btn-success {
    background: #5aac44;
}
.btn-success:hover {
    background: #61bd4f
}

.btn-warning {
    background: #cf513d;
}
.btn-warning:hover {
    background: #eb5a46
}

.card-calendar {
    border: none;
    margin-bottom: 15px;
}

.react-calendar__navigation {
    margin-bottom: 0;
    height: 40px
}

/* LABELS */

.labels-title {
    font-size: 0.9rem;
}

.labels__list {
    list-style: none;
    margin-bottom: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 5px;
}

.labels__list-item {
    display: flex;
    margin-top: 4px;
    align-items: center;
}

.outer-div {
    flex-basis: 90%;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.span-fade{
    display: flex;
    justify-content: space-between;
}

.outer-div:hover .span-fade{
    background-color: rgba(0,0,0,.3);
    border-radius: 3px;
    display: flex;
}
.labels__list-item-color {
    display: inline-block;
    padding: 5px 8px;
}

.labels__list-item-btn {
    text-align: center;
    flex-basis: 10%;
    cursor: pointer;
    margin-left: 5px;
    padding: 5px;
    border-radius: 3px;
}
.labels__list-item-btn:hover{
    background: #ecedf0
}
.labels__list-item-btn:hover path{
    fill: black
}

.labels-create-btn {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background: rgba(9, 30, 66, 0.04);
    padding: 8px 12px;
    width: 100%;
    margin-bottom: 6px;
    transition: all 0.1s;
    color: #172b4d;
}

.labels-create-btn:hover {
    background: rgb(236, 237, 240);
}

.labels-input {
    width: 100%
}

/* LABELS SECTION */

.labels-section {
    margin-bottom: 10px;
}

.labels-section-title {
    font-size: 0.9rem;
    margin-bottom: 8px;
}

.labels-items {
    display: flex;
}

.labels-items-list {
    list-style: none;
    display: flex;
}

.labels-items-list li {
    color: white;
    padding: 4px 6px;
}

.labels-items-list li, .labels-add-btn button {
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
}

.labels-add-btn {
    position: relative;
}

.lbl-btn {
    color: rgb(23, 43, 77);
    font-size: 1.3rem;
    background: rgb(234, 236, 240);
    min-width: 30px;
    padding: 4px 6px;
}

.labels-create-block {
    position: absolute;
    z-index: 2;
    left: 300px;
}

.delete-card-btn {
    margin-top: 10px;
}

.delete-card-btn button {
    border: none;
    border-radius: 3px;
    color: white;
    padding: 6px 8px;
    cursor: pointer;
    background: #cf513d;
}
.delete-card-btn button:hover {
    background: rgba(207, 81, 61, 0.75);
}

@media (max-width: 768px) {
    .card__addit {
        width: 50vw;
        left: 120px;
        top: 0
    }
    .date-create {
        left: -75px;
    }
    .labels-create-block {
        left: -120px;
    }
}

@media (max-width: 576px) {
    .card__addit {
        width: 83vw;
        left: 0
    }
    .date-create {
        width: 83vw;
        left: 5px
    }
    .labels-create-block {
        left: -140px;
    }
}