.list {
    cursor: pointer;
    padding: 10px;
}

.list-title {
    font-size: 0.9rem;
    color: rgb(23, 43, 77);
    font-weight: 600;
    background: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    padding: 4px 6px;
    width: 100%;
    height: 28px
}

.list-title:focus {
    background: white;
    border: 2px solid rgb(0, 121, 191);
    max-height: 34px;
    width: calc(100% - 14);
}

.cards-wrapper {
    margin-top: 5px;
}