.lists__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.lists-item {
    background: rgb(235, 236, 240);
    border-radius: 3px;
    flex-basis: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    height: 100%;
}
.lists-btn {
    height: 40px;
    width: 250px;
    background: rgba(255,255,255,0.3);
    border-radius: 3px;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.lists-btn span {
    position: relative;
    bottom: 2px;
    font-size: 1.3rem;
    padding-right: 10px;
}
.lists-btn:hover {
    background: rgba(255,255,255,0.5);
}
