.card-item {
    display: block;
    background: white;
    margin-bottom: 6px;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    padding: 4px 8px;
    text-decoration: none;
    color: rgb(23, 43, 77);
}

.card-item:hover {
    background: #f4f5f7
}