
.list-input-container, .card-input-container {
    background: white;
    width: 234px;
    border-radius: 3px;
    height: 100%;
}

.list-input-container div, .card-input-container div {
    display: flex;
}

.input {
    display: block;
    width: 97%;
    margin: 3px auto;
    padding: 8px;
    border-radius: 3px;
    border: 2px solid rgb(0, 121, 191);
    font-size: 0.9rem;
    color: rgb(23, 43, 77);
}

.input-btn {
    background-color: rgb(90, 172, 68);
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 8px 12px;
    display: inline-block;
    margin: 0 10px 3px 3px;
}
.input-btn:hover {
    background-color: rgb(97, 189, 79);
}

.input-times {
    cursor: pointer;
}
.input-times-block:hover .input-times path{
    fill: rgb(23, 43, 77);
    cursor: pointer;
}
.input-times path {
    fill: #6b778c;
}

.card-btn {
    margin-left: 0;
}

.card-input {
    width: 100%;
    border: none;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 6px 8px;
    margin: 10px 0;
}
.card-input:hover {
    border: none;
}

.card-input-container {
    margin: 10px auto 0;
    background: transparent;
}