.boards {
    margin-top: 20px;
}

.boards-title {
    font-size: 1.1rem;
    color: rgb(23, 43, 77)
}

.boards__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.boards__item {
    min-width: 190px;
    width: 18%;
    margin: 10px 20px 0 0;
    border-radius: 3px;
}

.boards-fade {
    position: relative;
}

.board-times {
    position: absolute;
    top: 6px;
    right: 10px;
    cursor: pointer;
}
.board-times path{
    fill: white;
}
.board-times:hover path{
    fill: rgba(255, 255, 255, 0.8);
}

.boards-fade:hover {
    background: rgba(0,0,0,.15);
    border-radius: 3px;
}

.boards__item-link, .boards__add {
    display: block;
    height: 90px;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
}

.boards__add {
    color: rgb(23, 43, 77);
    font-size: 0.9rem;
    text-align: center;
    padding: 0;
    padding-top: 13%;
    background: rgba(9,30,66,.04);
    font-weight: normal;
    cursor: pointer;
}

/* MODAL BOX */

.overlay {    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.75)
}

.modal-container {
    margin: 48px auto 0;
    max-width: 400px;
    background-color: transparent;
}

.modal__content-main {
    display: flex;
}

.modal__content-main div {
    padding: 8px;
    margin-right: 10px;
    border-radius: 3px;
    position: relative;
    display: flex;
    align-items: flex-start;
}

.modal-input {
    margin-right: 20px;
    font-size: 0.95rem;
    font-weight: bold;
    background: transparent;
    border: none;
    color: white;
    padding: 5px 8px;
    border-radius: 3px;
}

.modal-input:hover {
    background: rgba(255,255,255,.25);
}

.modal-input:focus {
    background: rgba(255,255,255,.35);
}

.modal__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    max-width: 100px;
}

.modal__grid-elem button{
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 3px;
}

.modal__grid-elem button div {
    height: 30px;
    width: 30px;
}

.modal__grid-elem button div:hover{
    background-color: rgba(0,0,0,.15);
}

.modal-button {
    border: none;
    margin-top: 10px;
    color: #a5adba;
    cursor: pointer;
    border-radius: 3px;
}

.modal-button:disabled {
    cursor: not-allowed;
}

.modal-button p {
    border-radius: 3px;
    padding: 8px 10px;
}

.modal-button:enabled {
    background: #5aac44;
    color: white
}
.modal-button:enabled div:hover {
    background: rgba(97, 189, 79);
}

.closeBtn {
    position: absolute;
    top: 0px;
    right: -8px;
    cursor: pointer;
    fill: white;
}

@media (max-width: 576px) {
    .modal__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
    }
    .modal__content-main{
        flex-direction: column;
        align-items: center;
    }
    .modal__content-main div{
        max-width: 210px;
        margin-right: 0;
    }
    .closeBtn {
        right: 0;
    }
    .modal__grid {
        margin-top: 10px;
    }
    .modal-input {
        max-width: 150px
    }
}